*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}
.item{
    width: 100%;
    height: 70px;
    border:2px black solid;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-basis: 200px;
    flex-grow: 1;*/
}
.item1{
    
}
.item2{
    flex: 1 0 400px;
}
.item3{
    
}
@media (max-width:390){
    .item2{
        flex: 1 0 620px;
    }
}