*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;

}
.item {
    border:2px black solid;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}