*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegacao{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 10px 25px;
    background: black;
}
.logo_maozinha{
    width: 45px;
    
}
.logo_principal{
    width: 200px;
    height: 80px;
}
.button{
    display: flex;
    gap: 0 10px;
}
.button_header{
    color:white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer; 
    transition: 0.4s; 
}
.button_header:hover{
    border-color: #ff0044;
}
